@model Customer
@{
    string Fullname = Model.FirstName + " " + Model.LastName;
}
@section css
{
<style>
    .addHeight {
        height: 40px;
        width: 100px;
    }

    .addWeightAndHeight {
        height: 60px;
        color: white;
    }

    .changeColor {
        color: var(--primary-color);
    }

    section {
        position: relative;
        width: auto;
        min-height: 1080px;
    }

    .makeCenterContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .makeRowFlex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .deneme {
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        background-image: url("/img/aa3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1000;
    }

    .asdasd {
        background-color: rgba(0, 0, 0, 0.2);
    }

    a {
        color: #fff;
        font-weight: normal;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    a:hover,
    a:active,
    a:focus {
        color: var(--primary-color);
        outline: none;
        text-decoration: none;
    }

    .asdasda {
        background-color: rgba(0, 0, 0, 0.5);
    }


    /* BG OVERLAY */
</style>
}
<section style="margin-top: 20px;">
    <div class="deneme">
    </div>
    <div class="container-fluid" style="padding: 50px;">
        <div class="row justify-content-sm-center justify-content-md-around">
            <div class="col-12 col-md-4 col-lg-3  h-100">
                <div class="row justify-content-around asdasd py-4">
                    <div class="col-12 text-center changeColor">
                        <h1>Online Menü</h1>
                        <hr style="height: 3px;">
                    </div>
                    <div class="w-100 mt-3"></div>
                    <div class="col-5 asdasda addHeight makeCenterContent "><a href="~/diet/Home">Ana Sayfa</a></div>
                    <div class="col-5 asdasda addHeight makeCenterContent "><a href="#">Bildirimler</a></div>
                    <div class="w-100 mt-3"></div>
                    @if (Model.Diet != null)
                    {
                        <div class="col-5 asdasda addHeight makeCenterContent"> <a href="~/diet/Index/"> Diet</a></div>
                    }
                    @if (Model.Pilates != null)
                    {
                        <div class="col-5 asdasda addHeight makeCenterContent"><a href="#">Pilates</a></div>

                    }
                    <div class="w-100 mt-3"></div>
                    <div class="col-5 asdasda addHeight makeCenterContent"><a href="#">Takvim</a></div>
                    <div class="col-5 asdasda addHeight makeCenterContent"><a href="#">Ödeme</a></div>

                </div>
                <div class="row justify-content-around asdasd py-4 mt-3">
                    <div class="col-12 text-center changeColor">
                        <h1>Kalan Paketleriniz</h1>
                        <hr style="height: 3px;">
                    </div>
                    <div class="w-100 mt-2"></div>
                    @if (Model.Diet != null)
                    {
                        <div class="col-5 asdasda addWeightAndHeight makeCenterContent text-center  text-info">Kalan Diet
                            5</div>
                    }
                    else
                    {
                        <div class="col-5 asdasda addWeightAndHeight makeCenterContent text-center  text-info">Diet
                            Paketiniz Tanımlanmamıştır</div>

                    }
                    @if (Model.Pilates != null)
                    {
                        <div class="col-5 asdasda addWeightAndHeight makeCenterContent text-center text-info">Kalan Pilates
                            5</div>
                    }
                    else
                    {
                        <div class="col-5 asdasda addWeightAndHeight makeCenterContent text-center  text-info">Pilates
                            Paketiniz Tanımlanmamıştır</div>
                    }
                </div>
                <div class="row justify-content-around asdasd py-4 mt-3">
                    <div class="col-12 text-center changeColor">
                        <h1>Paket Talebi Oluştur</h1>
                        <hr style="height: 3px;">
                    </div>
                    <div class="w-100 mt-2"></div>
                    <div class="makeRowFlex">
                        <form action="~/Diet/DietPackage" method="Post">
                            <input type="hidden" name="name" value="@Fullname">
                            <input type="hidden" name="customer" value="@Model.Id">
                            <div class="col-5  addHeight makeCenterContent"><button type="submit"
                                    class="btn btn-warning">Diet Paket</button></div>
                        </form>
                        <form action="~/Diet/DietPackage" method="Post">
                            <input type="hidden" name="name" value="@Fullname">
                            <input type="hidden" name="customer" value="@Model.Id">
                            <div class="col-5  addHeight makeCenterContent"><button type="submit"
                                    class="btn btn-warning">Pilates Paket</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5  " style="color: #fff;">
                <div class="row justify-content-sm-between justify-content-around asdasda mt-2" style="padding: 10px;">
                    <div class="col-4">
                        <a href="#" class=" addHeight bg-primary makeCenterContent">Duyurular</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class=" addHeight bg-primary makeCenterContent">Bildirimler</a>
                    </div>
                    <div class="col-4">
                        <a href="#" class=" addHeight bg-primary makeCenterContent">Mesaj Gönder</a>
                    </div>
                </div>
                <div class="row  justify-content-around asdasda mt-2 p-5">
                    <div class="col-12 text-center changeColor">
                        <h1>Duyurular</h1>
                        <hr style="height: 3px;">
                    </div>
                    @if (Model.Diet != null)
                    {
                        if (Model.Diet.AnamnezForm == null)
                        {
                            <div class="aler alert-dark  mt-4">

                                <h2>ilk Olarak Anamnez Formunu Doldurmanız Gerekmetedir</h2>
                                <hr>
                                <a href="~/diet/anamnezform/@Model.Id" class="btn btn-primary my-2">Anamnez Form</a>
                            </div>

                        }
                    }
                    <div class="aler alert-dark  mt-4">
                        <h2>Diyetlerle ilgili Bilgilendirme</h2>
                        <hr>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus deleniti impedit
                            accusamus aut, nobis in blanditiis voluptatem, omnis cupiditate ducimus sint dolor eius
                            magni libero et ab tenetur, culpa officia!</p>
                    </div>
                    <div class="aler alert-success mt-4">
                        <h2>Platesler hakkında genel bilgilendirme</h2>
                        <hr>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus deleniti impedit
                            accusamus aut, nobis in blanditiis voluptatem, omnis cupiditate ducimus sint dolor eius
                            magni libero et ab tenetur, culpa officia!</p>
                    </div>
                </div>
            </div>
        </div>
</section>