<div class="row justify-content-around py-4">
    <div class="col-12 text-center changeColor">
        <h1>Online Menü</h1>
        <hr style="height: 3px;">
    </div>
    <div class="w-100 mt-3"></div>
    <div class="col-5 asdasda addHeight makeCenterContent "><a href="~/admin/Home">Ana Sayfa</a></div>
    <div class="col-5 asdasda addHeight makeCenterContent "><a href="~/admin/AllCustomer">Bütün Müsteriler</a></div>
    <div class="w-100 mt-3"></div>
    <div class="col-5 asdasda addHeight makeCenterContent"> <a href="#">Diet Müsterileri</a></div>
    <div class="col-5 asdasda addHeight makeCenterContent"><a href="#">Pilates</a></div>
    <div class="w-100 mt-3"></div>
    <div class="col-5 asdasda addHeight makeCenterContent"><a href="~/diet/Callendar">Takvim</a></div>
    <div class="col-5 asdasda addHeight makeCenterContent"><a href="~/admin/DietMenüList">Tüm Tarifler</a></div>
    <div class="w-100 mt-3"></div>
    <div class="col-5 asdasda addHeight makeCenterContent"><a href="~/RoleAndUser/UserList">Kullanıcılar</a></div>
    <div class="col-5 asdasda addHeight makeCenterContent"><a href="~/RoleAndUser/RoleList">Role</a></div>
</div>