<nav>
    <div class="logo">
        <p class="logo-header">Diyetisyen <br> <span> Sinem Karaca </span></p>
    </div>
    <div class="container-socialmedia">
        <div class="socialmedia">
            <span><i class="fab fa-instagram fa-2x">
                    <div class="instagram">
                        <div class="instagram-img"></div>
                    </div>
                </i></span>
            <span><i class="fab fa-whatsapp fa-2x"></i></i></span>
        </div>
    </div>
    <div class="container-navbar">
        <ul class="navbar">
            <li class="navbar-item">
                <a href="#" class="navbar-link navbar-item-active">Ana Sayfa</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">Hakkımda</a>
            </li>

            <li class="navbar-item">
                <a href="#" class="navbar-link">online diyet</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">Blog</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">Yorumlar</a>
            </li>
            <form action=""></form>
        </ul>
    </div>

</nav>