/* Start-img */

.start-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .start-img {
    padding-top: 30px;
    width: 600px;
    height: 800px;
    display: flex;
    background-image: url(../img/foto1.jpeg);
    justify-content: center;
    border-top-left-radius: 80px;
    background-color: #003F63;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .start-content {
    padding-top: 30px;
    width: 600px;
    height: 800px;
    border-bottom-right-radius: 80px;
    display: flex;
    background-image: url(../img/bakground.jpg);
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  
  .start-content .start-explain {
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 3rem;
    font-family: var(--font_3);
    font-weight: bold;
    text-align: center;
  }
  
  .start-content .start-explain span {
    font-size: 1.5rem;
    font-weight: lighter;
  }
  
  .btn-box {
    margin-top: 100px;
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .btn-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color_title);
    opacity: 0.05;
    z-index: 1;
  }
  
  .btn-content {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  
  .btn-1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border: 2px solid #003F63;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .btn-content p {
    font-size: 2rem;
  }
  
  .btn-1:hover {
    transform: scale(1.2);
    border: 2px solid black;
    background-color: #003F63;
    color: white;
  }
  
  
  /* services */
  
  .container-hesaplama {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
  
  .hesaplama-box {
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hesaplama-header {
    align-self: center;
    font-family: var(--font_4);
    color: var(--color_pink_1);
    font-size: 3rem;
    border-bottom: 2px solid var(--color_title);
    text-align: center;
    text-transform: uppercase;
  }
  
  .left-box {
    position: relative;
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: 6px solid #ddd;
    background-color: #fff;
  }
  
  .left-box-content {
    position: relative;
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .selected-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;
    background-image: url(../img/model1.png);
  }
  
  .right-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    transition: 0.3s;
  }
  
  .left-box .table {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background-color: var(--color_background_1);
    width: 100%;
  }
  
  .img-items {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    transition: 0.3s;
  }
  
  .img-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: auto;
    text-align: center;
    transition: 0.5s;
  }
  
  .img-content:hover .img-item {
    transform: scale(1.1);
    background-color: var(--color_background_1);
  }
  
  .img-content:hover p {
    transform: scale(1.1);
    background-color: var(--color_title);
    color: white;
  }
  
  .img-content p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_white);
    box-shadow: 0 3px 5px 0 var(--color_title);
    height: 50px;
    font-size: 2rem;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .img-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    border: 3px solid var(--color_title);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: 0.7;
    background-color: white;
    transition: 1s;
  }
  
  .img-content:nth-child(1) .img-item {
    background-image: url(../img/model1.png);
  }
  
  .img-content:nth-child(2) .img-item {
    background-image: url(../img/model2.png);
  }
  
  .img-content:nth-child(3) .img-item {
    background-image: url(../img/model3.png);
  }
  
  .img-content:nth-child(4) .img-item {
    background-image: url(../img/model6.png);
  }
  
  .img-content:nth-child(5) .img-item {
    background-image: url(../img/model7.png);
  }
  
  
  /*  */
  
  .services {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .services h3 {
    width: 40%;
    padding-bottom: 20px;
    align-self: center;
    font-family: var(--font_4);
    color: var(--color_pink_1);
    font-size: 3rem;
    border-bottom: 2px solid var(--color_title);
    text-align: center;
    text-transform: uppercase;
  }
  
  .box-container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .box-area {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 3px 1px 0 var(--color_title);
    background-color: #fff;
    text-align: center;
    padding: 20px;
    transition: .3s;
  }
  
  .img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    border: 2px solid #ddd;
    border-radius: 20px;
    margin-bottom: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s;
  }
  
  iframe {
    width: 300px;
    height: 400px;
    position: relative;
    border: 3px solid #fff;
    box-shadow: 0 4px 5px 0 var(--color_title);
    display: flex;
    margin: 40px 0;
  }
  
  .single-box:nth-child(1) .img-area {
    background-image: url(../img/plates.png);
  }
  
  .single-box:nth-child(2) .img-area {
    background-image: url(../img/diyet.png);
  }
  
  .header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .img-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .img-text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .single-box:hover {
    background-color: #e84393;
    color: #fff;
    box-shadow: 0 5px 10px 0 silver;
    transform: scale(1.1);
  }
  
  .single-box:hover .img-area {
    border: 5px solid var(--color_gray_4);
    box-shadow: 0px 0px 5px 0px var(--color_white);
  }
  
  
  /* blog */
  
  .blog-container {
    position: relative;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
  }
  
  .blog-container h2 {
    width: 20%;
    height: auto;
    font-family: var(--font_4);
    position: relative;
    padding: 10px;
    background-color: white;
    font-size: 4rem;
    color: #e84393;
    z-index: 5;
    text-align: center;
    border-bottom: 2px solid #2B3240;
  }
  
  .blog-background {
    position: absolute;
    width: 175%;
    height: 125%;
    transform: translate(-20%, -5%);
    background-color: var(--color_gray_1);
    opacity: 0.1;
  }
  
  .blog-box-area-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .blog-single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    margin-top: 20px;
    width: 40%;
    height: 150px;
    cursor: pointer;
  }
  
  .blog-double-box {
    background-color: greenyellow;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 20px;
    width: 55%;
    height: 150px;
    cursor: pointer;
  }
  
  .blog-img-area {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/blog_1.png);
  }
  
  .blog-double-box:hover .blog-img-border {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: silver;
    opacity: 0.5;
  }
  
  .blog-single-box:hover .blog-img-border {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: silver;
    opacity: 0.5;
  }
  
  .blog-img-border {
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 8px;
    left: 8px;
    border: 2px solid #fff;
    transition: 0.5s;
  }
  
  .blog-img-explain {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: -5px;
    width: 40%;
    height: auto;
    background-color: #fff;
  }
  
  .blog-img-explain-content {
    background-color: #F2AEC1;
    margin-top: 5px;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 10px 0 silver;
  }
  
  
  /*About me */
  
  .about-container {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about {
    position: relative;
    display: flex;
    width: 80%;
    height: 500px;
    flex-direction: row;
  }
  
  .about-img {
    display: flex;
    justify-content: center;
  }
  
  .about-article {
    display: flex;
    min-width: 200px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .about-article .header-text {
    align-self: flex-start;
    font-size: 4rem;
    padding: 5px;
    border-bottom: 2px solid gray;
    border-radius: 0 0 5px 5px;
  }
  
  .about-article p {
    margin-top: 100px;
    font-size: 20px;
  }
  
  .about-imgbox {
    position: relative;
    display: flex;
    min-width: 400px;
    max-width: 500px;
    justify-content: center;
    align-items: center;
  }
  
  .about-imgbox-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border-radius: 40%;
    border: 1px solid var(--color_title);
    background-image: url(../img/about.jpeg);
    background-size: cover;
    background-position: center center;
  }
  
  
  /* footer */
  
  footer {
    margin-top: 150px;
    background-color: slategray;
  }
  
  
  /*services */
  
  
  /*  */