@section css{
<style>
    .makeFlex {
        display: flex;
        justify-content: center;
    }

    .list-group-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .profile-user-img {
        border: 1px solid gray;
        border-radius: 50%;
    }

    .make-flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .make-flex-column {
        display: flex;
        flex-direction: column;
    }

    .space-around {
        justify-content: space-around;
        align-items: flex-start;
    }

    .space-beetwen {
        justify-content: space-between;
        align-items: flex-start;
    }

    .center {
        justify-content: center;
        align-items: center;
    }

    .box-shadow {
        box-shadow: 1px 5px 5px 1px #A6A6A6;
    }

    .asd li .active {
        color: white !important;
    }

    .general-information {
        position: relative;

    }

    .general-information .time {
        position: absolute;
        top: 0px;
        right: 0px;
        color: black;
    }
</style>
}


<div class="content-wrapper" style="margin-top: 50px;">


    <!-- Main content -->
    <section class="content">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Diyet Genel Görünüm</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">AnaSayfa</a></li>
                            <li class="breadcrumb-item active">Diyet</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid " src="~/avatar/avatar2.png"
                                    alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">Sinem Karaca</h3>

                            <div class="row make-flex-row space-around my-3">
                                <a href="#" class="btn btn-secondary btn-block col-5 col-sm-3 col-md-5"><b>Diet</b></a>
                                <a href="#"
                                    class="btn btn-secondary btn-block col-5 col-sm-3 col-md-5"><b>Pilates</b></a>
                            </div>

                            <div class="card  g-0" style="width:100%;">
                                <h5 class="card-header text-center ">Kalan Paketler</h5>
                                <div class="card-body  make-flex-row space-beetwen">
                                    <div class=" make-flex-column center p-2 box-shadow" style="min-width: 150px;">
                                        <h5 class="card-title text-muted"
                                            style="border-bottom: 2px solid black; padding-bottom:12px;">Kalan Diet
                                            Adeti</h5>
                                        <p class="card-text " style="font-size:20px;">5</p>
                                        <a href="#" class="btn btn-primary">Paket Satın Al</a>
                                    </div>
                                    <div class="make-flex-column center p-2 box-shadow" style="min-width: 150px;">
                                        <h5 class="card-title  text-muted"
                                            style="border-bottom: 2px solid black; padding-bottom:12px;">Kalan Pilates
                                            Adeti</h5>
                                        <p class="card-text" style="font-size:20px;">3</p>
                                        <a href="#" class="btn btn-primary">Paket Satın Al</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills asd">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Genel
                                        Bilgilendirme</a></li>

                                <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Mesaj
                                        Gönder</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane g-0 " id="activity">
                                    <div class="post ">
                                          <div class="general-information mt-3">
                                            <div class="card g-0" style="width:100%;">
                                                <h5 class="card-header text-center text-danger" >Haftalık Diyet</h5>
                                                <div class="card-body bg-dark make-flex-row center">
                                                    <div class=" make-flex-column center  bg-light mx-2 p-2 box-shadow"
                                                        style="min-width: 150px;">
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            1. Hafta</h5>
                                                        <a href="#" class="btn btn-primary">Git</a>
                                                    </div>
                                                    <div class="make-flex-column center bg-light mx-2 p-2 box-shadow"
                                                        style="min-width: 150px;">
                                                        <h5 class="card-title  text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            2. Hafta</h5>
                                                        <a href="#" class="btn btn-primary">Git</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="general-information mt-3">
                                            <div class="card g-0" style="width:100%;">
                                                <h5 class="card-header text-center text-danger ">Beden Güncel Analiz</h5>
                                                <div class="card-body  make-flex-row center">
                                                    <div class=" make-flex-column center mx-3 p-2 box-shadow"
                                                        style="min-width: 125px;">
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Başlagıç kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">65</p>
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Güncel kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">50</p>
                                                    </div>
                                                    <div class=" make-flex-column center  mx-3  p-2 box-shadow"
                                                        style="min-width: 125px;">
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Başlagıç kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">65</p>
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Güncel kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">50</p>
                                                    </div>
                                                    <div class=" make-flex-column center  mx-3  p-2 box-shadow"
                                                        style="min-width: 125px;">
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Başlagıç kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">65</p>
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Güncel kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">50</p>
                                                    </div>
                                                    <div class=" make-flex-column center  mx-3  p-2 box-shadow"
                                                        style="min-width: 125px;">
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Başlagıç kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">65</p>
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Güncel kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">50</p>
                                                    </div>
                                                    <div class=" make-flex-column center  mx-3  p-2 box-shadow"
                                                        style="min-width: 125px;">
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Başlagıç kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">65</p>
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Güncel kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">50</p>
                                                    </div>
                                                    <div class=" make-flex-column center  mx-3  p-2 box-shadow"
                                                        style="min-width: 125px;">
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Başlagıç kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">65</p>
                                                        <h5 class="card-title text-muted"
                                                            style="border-bottom: 2px solid black; padding-bottom:12px;">
                                                            Güncel kilo</h5>
                                                        <p class="card-text " style="font-size:20px;">50</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="settings">
                                    <form class="form-horizontal">
                                        <div class="form-group row mt-2">
                                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputName"
                                                    placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="inputEmail"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputName2"
                                                    placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputExperience"
                                                class="col-sm-2 col-form-label">Experience</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" id="inputExperience"
                                                    placeholder="Experience"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="inputSkills"
                                                    placeholder="Skills">
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <div class="offset-sm-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> I agree to the <a href="#">terms and
                                                            conditions</a>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>