@model DietWekkly
@section css
{
<link rel="stylesheet" href="\css\week.css">
}

<section>


    <div class="wrapper">



        <div class="profile">
            <h3 class="name" style="margin-bottom: 40px; text-decoration: underline; transform: scale(1.3);">1. HAFTA
            </h3>

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4 bg-secondary">
                        <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w"
                            class="thumbnail">
                    </div>
                    <div class="col-md-8 other">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 30px;">Beslenme Proğramı</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="card text-danger bg-light mb-3">
                    <div class="card-header">
                        <h3 class="name">Randevu</h3>
                    </div>
                    <div class="card-body" style="text-align: center;">
                        <h5 class="card-title mb-3">Randevu Oluşturmak için lütfen Tıklayınız</h5>
                        <button type="button" class="btn">Randevu Talebi</button>
                    </div>
                </div>
            </div>




            <div class="row mt-3">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header ">
                        <h3 class="name">HAFTA DEĞERLENDİRMESİ</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <form asp-controller="diet" asp-action="DietWekklys" method="POST"
                                enctype="multipart/form-data">


                                <div asp-validation-summary="All" class="text-danger"></div>


                                <div class="form-group row mt-3">
                                    <label asp-for="CurrentWeight" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="CurrentWeight" class="form-control">
                                        <span asp-validation-for="CurrentWeight" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mt-3 ">
                                    <label asp-for="CurrentWaistline" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="CurrentWaistline" class="form-control"
                                            placeholder="CurrentWaistline">
                                        <span asp-validation-for="CurrentWaistline" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mt-3">
                                    <label asp-for="CurrentBreastSize" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="CurrentBreastSize" class="form-control"
                                            placeholder="CurrentBreastSize">
                                        <span asp-validation-for="CurrentBreastSize" class="text-danger"></span>

                                    </div>
                                </div>


                                <div class="form-group row mt-3">
                                    <label asp-for="DietImplementation" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="DietImplementation" class="form-control"
                                            placeholder="DietImplementation">
                                        <span asp-validation-for="DietImplementation" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="form-group row mt-3">
                                    <label asp-for="AvgWater" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="AvgWater" class="form-control" placeholder="AvgWater">
                                        <span asp-validation-for="AvgWater" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="form-group row mt-3">
                                    <label asp-for="AvgNmbrOfSteps" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <input asp-for="AvgNmbrOfSteps" class="form-control"
                                            placeholder="AvgNmbrOfSteps">
                                        <span asp-validation-for="AvgNmbrOfSteps" class="text-danger"></span>
                                    </div>
                                </div>

                                @* @Html.HiddenFor(m => m.Id , Model.Id) *@
                                <div class="form-group row mt-sm-3">
                                    <div class="col-sm-3 offset-sm-2">
                                        <button type="submit" class="btns btn-outline-info form-control">Değişiklikleri
                                            Kaydet</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
