@* @model CalendarModel

    @section css
    {
    <style>
    .asd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    }
    </style>
    }
    @{
    DateTime time = DateTime.Now;
    List<string> allDay = (List<String>)ViewBag.allday;
    System.Console.WriteLine(time.DayOfWeek);
    int Day = 1;
    int Hour = 8;
    int Minute = 0;
    }
    <main class="my-3">
    <section>
    <div class="row">
    <div class="col-md-12">
    <div class="card text-center">
    <div class="card-header">
    <h3 class="h1">Diyet-Plates Randevu</h3>
    </div>
    <div class="card-body">
    <div class="row">
    @foreach (var item in allDay)
    {
    if (Day <= (int)time.DayOfWeek)
    {
    <div class="col-md-2">
    <div class="card-header bg-dark text-white">
    @item
    </div>
    @for (int i = 0; i < 12; i++)
    {
    <div class="card-body">
    <div class="row">
    @for (int y = 0; y < 3; y++)
    {
    <div class="col-md-4 bg-warning ">
    <form asp-controller="Admin" asp-action="Date" method="POST">
    <input type="hidden" mame="Hour" value="">
    <input type="hidden" name="Day" value="@((int)time.DayOfWeek)">
    <button type="submit" class="btn" disabled style="width: 100%;">
    <div class="card-title h5"> @Hour : @Minute 0</div>
    <div class="card-text text-secondary">M*** K***</div>
    </button>
    </form>
    </div>
    Minute = Minute + 2;
    }
    </div>
    </div>
    Hour = Hour + 1;
    Minute = 0;
    }
    </div>
    }
    else
    {
    <div class="col-md-2">
    <div class="card-header bg-dark text-white">
    @item
    </div>
    <div class="card-body">
    <div class="row">
    @for (int i = 0; i < 3; i++)
    {
    <div class="col-md-4 bg-warning">
    <form asp-controller="Admin" asp-action="Date" method="POST">
    <input type="hidden" mame="Hour" value="">
    <input type="hidden" name="Day" value="@((int)time.DayOfWeek)">
    <button type="submit" class="btn" disabled style="width: 100%;">
    <div class="card-title h4"> 06:00</div>
    <div class="card-text text-secondary">M*** K***</div>
    </button>
    </form>
    </div>
    }
    </div>
    </div>
    <div class="card-body ">
    <div class="row">
    <div class="col-md-4 bg-info">
    <div class="card-title h4"> 07:00</div>
    <div class=" card-text text-secondary">A*** B***</div>
    </div>
    <div class=" col-md-4">
    <div class="card-title h4">07:20</div>
    </div>
    <div class=" col-md-4">
    <div class="card-title h4">07:20</div>
    </div>
    </div>
    </div>
    </div>

    Hour = 6;
    }
    Day = Day + 1;
    }

    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </main> *@

@section css
{
<link rel="stylesheet" href="\css\Menü.css">
}
<section>

    <div class="frame">

        <div class="center">

            <div class="profile">
                <div class="image" style="transform: scale(1.5);">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    <img src="https://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70"
                        alt="Jessica Potter">
                </div>

                <div class="name">Jessica Potter</div>
                <div class="job">15-06-2021</div>

                <div class="actions">
                    <button class="btn">Anamnez Form</button>
                </div>
            </div>

            <div class="stats">
                <div class="box">
                    <span class="value">80 kg</span>
                    <span class="parameter">Başlangıç Kilo</span>
                </div>
                <div class="box">
                    <span class="value">173 cm</span>
                    <span class="parameter">Boyu</span>
                </div>
            </div>

            <div class="other">
                <div class="card-2">
                    <div class="Anamnez">
                        <div class="card text-center">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link text-danger active">Asla Yiyemediklerim</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-warning ">Sağlığıma Dokunanlar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled text-primary">Vazgeçemediklerim</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled text-primary">Ananmnez Formu Güncelle</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body ">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="week stats">
                    <h1>Haftalık Diyet</h1>
                    <div class="week-box">
                        <div class="box">
                            <span class="value">1.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">2.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">3.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">4.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">5.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">6.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">5.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">6.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">5.Hafta</span>
                        </div>
                        <div class="box">
                            <span class="value">6.Hafta</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
