@model List<Customer>

@section css
{
<link rel="stylesheet" href="~/css/admin-Index.css">
}


<section class="customer-view">
    @foreach (var item in Model)
    {
        <div class="container-card">
            <div class="name-card">
                <p>@item.FirstName</p>
                <p>@item.LastName</p>
            </div>
            <div class="diet">
                <div class="diet-name">
                    <p>Diet</p>
                </div>
                <div class="diet-date">
                    <p>15-11-1994</p>
                </div>
                <div class="diet-info">
                    <a asp-controller="Diet" asp-action="Index" asp-route-Id="@item.Id" class="btn btn-outline-light">Diyet
                        bilgisi</a>
                </div>
            </div>
            <div class="pilates">net
                <div class="pilates-name">
                    <p>Pilates</p>
                </div>
                <div class="pilates-date">
                    <p>15-11-1994</p>
                </div>
                <div class="pilates-info">
                    <a href="#" class="btn btn-outline-primary">Pilates bilgisi</a>
                </div>
            </div>
        </div>
    }
</section>
