@model AnamnezForm
@section css
{
<style>
    #heading {
        text-transform: uppercase;
        color: #673AB7;
        font-weight: normal
    }

    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    }

    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform input,
    #msform textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px
    }

    #msform input:focus,
    #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #673AB7;
        outline-width: 0
    }

    #msform .action-button {
        width: 100px;
        background: #673AB7;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

    #msform .action-button:hover,
    #msform .action-button:focus {
        background-color: #311B92
    }

    #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

    #msform .action-button-previous:hover,
    #msform .action-button-previous:focus {
        background-color: #000000
    }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #673AB7;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #673AB7;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

    #progressbar .active {
        color: #673AB7
    }

    #progressbar li {
        list-style-type: none;
        font-size: 15px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f13e"
    }

    #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar #aaa:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar #bbb:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f030"
    }

    #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f00c"
    }

    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #673AB7
    }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #673AB7
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }

    .make-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
    }
</style>
}

<!-- MultiStep Form -->
<div class="container-fluid" style="margin:50px 0 150px;">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Anamnez Form</h2>
                <p>Lütfen Tüm Alanları Doldurunuz</p>
                <form id="msform" action="~/online/AnamnezForm" method="POST">

                    <input type="hidden" name="Id" value="@Model.Id">
                    <input type="hidden" name="DietId" value="@Model.DietId">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Vücut Analizi</strong></li>
                        <li id="personal"><strong>Diyet Geçmişi</strong></li>
                        <li id="aaa"><strong>Hastalıklar</strong></li>
                        <li id="aaa"><strong>Alışkanlıklar</strong></li>
                        <li id="aaa"><strong>Özel Durum</strong></li>
                        <li id="aaa"><strong>Aktivite</strong></li>
                        <li id="bbb"><strong>Sıvı Tüketimi</strong></li>
                        <li id="payment"><strong>Beslenme</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset id="11111">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Vücut Analizi</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 1 - 8</h2>
                                </div>
                            </div>

                            <label class="fieldlabels">Yaşınız: *</label>
                            <input type="number" asp-for="Yas" name="Yas" placeholder="Yaşınız"  min="0" step="0.01" />
                            <label class="fieldlabels">Boy: *</label>
                            <input type="number" name="Boy" asp-for="Boy" placeholder="Boyunuz cm cinsinden "  min="0"  step="0.01"/>
                            <label class="fieldlabels">Kilo:*</label>
                            <input type="number" name="Kilo" asp-for="Kilo" placeholder="Kilo kg cinsinden"  min="0" step="0.01" />
                            <label class="fieldlabels">Basen Ölcüsü: *</label>
                            <input type="number" name="BasenÖlcüsü" asp-for="BasenÖlcüsü" placeholder="Basen Ölcüsü cm cinsinden" 
                                min="0"  step="0.01"/>
                            <label class="fieldlabels">Bel Ölcüsü: *</label>
                            <input type="number" name="BelÖlcüsü" asp-for="BelÖlcüsü" placeholder="Bel Ölcüsü cm cinsinden" 
                                min="0" step="0.01"/>
                            <label class="fieldlabels">Göğüs Ölcüsü: *</label>
                            <input type="number" name="GögüsÖlcüsü" asp-for="GögüsÖlcüsü" placeholder="Göğüs Ölcüsü cm cinsinden" 
                                min="0" step="0.01"/>
                            <label class="fieldlabels">BÖLGESEL KİLOLARINIZDAN ŞİKAYETÇİ MİSİNİZ? VARSA ŞİKAYETÇİ
                                OLDUĞUNUZ BÖLGELER.</label>
                            <textarea name="Soru1" asp-for="Soru1" cols="30" rows="5"></textarea>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Sonraki" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Diyet Geçmişi</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 2 - 8</h2>
                                </div>
                            </div>

                            <label class="fieldlabels"> DAHA ÖNCE DİYET PROGRAMI UYGULADINIZ MI? UYGULADIĞINIZ DİYETİ VE
                                SONUÇLARINI KISACA BİZİMLE PAYLAŞIR MISINIZ?</label>
                            <textarea name="Soru2" asp-for="Soru2" cols="30"  rows="5"></textarea>
                            <label class="fieldlabels"> DİYET YAPARKEN SİZİ EN ÇOK ZORLAYAN ŞEYLER NELERDİR?</label>
                            <textarea name="Soru3" asp-for="Soru3" cols="30" rows="5"></textarea>

                        </div> <input type="button" name="next" class="next action-button" value="Sonraki" /> <input
                            type="button" name="previous" class="previous action-button-previous" value="Önceki" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Hastalıklar</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 3 - 8</h2>
                                </div>
                            </div>

                            <label class="fieldlabels"> KİLO VERMENİZE ENGEL OLAN KRONİK BİR RAHATSIZLIĞINIZ VAR MI
                                ?</label>
                            <input type="text" name="Soru4" asp-for="Soru4" />
                            <label class="fieldlabels"> SÜREKLİ OLARAK KULLANDIĞINIZ İLAÇLAR VAR MI?</label>
                            <input type="text" name="Soru5" asp-for="Soru5" />

                        </div> <input type="button" name="next" class="next action-button" value="Sonraki" /> <input
                            type="button" name="previous" class="previous action-button-previous" value="Önceki" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Alışkanlıklar</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 4 - 8</h2>
                                </div>
                            </div>

                            <label class="fieldlabels"> GENEL OALRAK KALKIŞ VE YATIŞ SAATLERİNİZİ BELİRTİR
                                MİSİNİZ?</label>
                            <input type="text" name="Soru6" asp-for="Soru6" />
                            <label class="fieldlabels"> VAZGEÇEMEDİĞİNİZ YEMEKLER, BESİNLER </label>
                            <input type="text" name="Soru7" asp-for="Soru7" />
                            <label class="fieldlabels"> ASLA YİYEMEDİKLERİM </label>
                            <input type="text" name="Soru8" asp-for="Soru8" />
                            <label class="fieldlabels"> SAĞLIĞIMA DOKUNANLAR </label>
                            <input type="text" name="Soru9"  asp-for="Soru9"/>
                            <label class="fieldlabels"> GECELERİ UYANIP YEMEK YER MİSİNİZ? </label>
                            <input type="text" name="Soru10"  asp-for="Soru10"/>
                            <label class="fieldlabels"> YEMEKLERE EXTRA TUZ EKLER MİSİNİZ? </label>
                            <input type="text" name="Soru11" asp-for="Soru11"/>
                            <label class="fieldlabels"> SICAK İÇECEKLERDE NE KADAR ŞEKER KULLANIRSINIZ? </label>
                            <input type="text" name="Soru12" asp-for="Soru12"/>

                        </div> <input type="button" name="next" class="next action-button" value="Sonraki" /> <input
                            type="button" name="previous" class="previous action-button-previous" value="Önceki" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Özel Durum</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 5 - 8</h2>
                                </div>
                            </div>

                            <label class="fieldlabels"> HAMİLELİK, EMZİRME GİBİ ÖZEL DURUMLARINIZ VAR MI ?</label>
                            <input type="text" name="Soru13" asp-for="Soru13" />
                            <label class="fieldlabels"> KAÇ KİLO VERMEK SİZİ MUTLU EDECEKTİR?</label>
                            <input type="text" name="Soru14" asp-for="Soru14" />


                        </div> <input type="button" name="next" class="next action-button" value="Sonraki" /> <input
                            type="button" name="previous" class="previous action-button-previous" value="Önceki" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Aktivite</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 6 - 8</h2>
                                </div>
                            </div>

                            <label class="fieldlabels"> HERHANGİ BİR İŞTE ÇALIŞIYOR MUSUNUZ? İŞİNİZDEN BAHSEDER
                                MİSİNİZ?(Gün içindeki hareketliliğiniz belirlenmesi için gerekli)</label>
                            <input type="text" name="Soru15" asp-for="Soru15" />
                            <label class="fieldlabels"> YAPTIĞINIZ SPOR VARMI? HAFTADA KAÇ GÜN HANGİ SPOR DALI?</label>
                            <input type="text" name="Soru16" asp-for="Soru16" />


                        </div> <input type="button" name="next" class="next action-button" value="Sonraki" /> <input
                            type="button" name="previous" class="previous action-button-previous" value="Önceki" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Sıvı Tüketimi</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 7 - 8</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="fieldlabels col-7">SU</label>
                                    <input type="number" name="Soru17" asp-for="Soru17" class="col-5"  min="0" step="1" />
                                </div>
                                <div class="col-3">
                                    <label class="fieldlabels col-7">ÇAY</label>
                                    <input type="number" name="Soru18" asp-for="Soru18" class="col-5"  min="0"  step="1"/>
                                </div>
                                <div class="col-3">
                                    <label class="fieldlabels col-7">KAHVE</label>
                                    <input type="number" name="Soru19" asp-for="Soru19" class="col-5" min="0" step="1" />
                                </div>
                                <div class="col-3">
                                    <label class="fieldlabels col-7">SODA</label>
                                    <input type="number" name="Soru20" asp-for="Soru20" class="col-5"  min="0" step="1" />
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="fieldlabels col-12" style="font-size: 10px!important;">BİTKİ
                                        ÇAYLARI</label>
                                    <input type="number" name="Soru21" asp-for="Soru21" class="col-5"  min="0"  step="1"/>
                                </div>
                                <div class="col-3">
                                    <label class="fieldlabels col-12" style="font-size: 10px!important;">ALKOL</label>
                                    <input type="number" name="Soru22" asp-for="Soru22" class="col-5"  min="0" step="1" />
                                </div>
                                <div class="col-3">
                                    <label class="fieldlabels col-12" style="font-size: 10px!important;">MEYVE
                                        SUYU</label>
                                    <input type="number" name="Soru23" asp-for="Soru23" class="col-5"  min="0" step="1"/>
                                </div>
                                <div class="col-3">
                                    <label class="fieldlabels col-12" style="font-size: 10px!important;">GAZLI
                                        İÇECEKLER</label>
                                    <input type="number" name="Soru24" asp-for="Soru24" class="col-5"  min="0"  step="1"/>
                                </div>
                            </div>


                        </div> <input type="button" name="next" class="next action-button" value="Sonraki" /> <input
                            type="button" name="previous" class="previous action-button-previous" value="Önceki" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Beslenme</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Adım 8 - 8</h2>
                                </div>
                            </div>
                            <label class="fieldlabels">Kahvaltı</label>
                            <div class="form-control">
                                <div class="form-group row mt-2">
                                    <div class="col-auto make-row ">
                                        <img src="/form/kahvaltı.png" width="150px" height="150px" alt="...">
                                    </div>
                                    <div class="col-sm-8 ">
                                        <textarea placeholder="Kahvaltı" name="Soru25" asp-for="Soru25" id="" cols="30"
                                            rows="5"></textarea>

                                    </div>
                                </div>
                            </div>
                            <label class="fieldlabels">Öğlen</label>
                            <div class="form-control">
                                <div class="form-group row mt-2">
                                    <div class="col-auto make-row ">
                                        <img src="/form/oglen.png" width="150px" height="150px" alt="...">
                                    </div>
                                    <div class="col-sm-8 ">
                                        <textarea placeholder="Öğlen" name="Soru26" asp-for="Soru26" id="" cols="30" rows="5"></textarea>

                                    </div>
                                </div>
                            </div>
                            <label class="fieldlabels">Ara Öğün</label>
                            <div class="form-control">
                                <div class="form-group row mt-2">
                                    <div class="col-auto make-row ">
                                        <img src="/form/ara1.png" width="150px" height="150px" alt="...">
                                    </div>
                                    <div class="col-sm-8 ">
                                        <textarea placeholder="Ara Öğün" name="Soru27" asp-for="Soru27" id="" cols="30"
                                            rows="5"></textarea>

                                    </div>
                                </div>
                            </div>
                            <label class="fieldlabels">Akşam</label>
                            <div class="form-control">
                                <div class="form-group row mt-2">
                                    <div class="col-auto make-row ">
                                        <img src="/form/aksam.png" width="150px" height="150px" alt="...">
                                    </div>
                                    <div class="col-sm-8 ">
                                        <textarea placeholder="Akşam" name="Soru28" asp-for="Soru28" id="" cols="30" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <label class="fieldlabels">Ara Öğün: *</label>
                            <div class="form-control">
                                <div class="form-group row mt-2">
                                    <div class="col-auto make-row ">
                                        <img src="/form/ara2.png" width="150px" height="150px" alt="...">
                                    </div>
                                    <div class="col-sm-8 ">
                                        <textarea placeholder="Ara Öğün" name="Soru29" asp-for="Soru29" id="" cols="30"
                                            rows="5"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="action-button">Kaydet</button>
                        <input type="button" name="previous" class="previous action-button-previous" value="Önceki" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    var firstPalce = document.getElementById("11111")
    console.log(firstPalce);
    var firstbtn = document.querySelector("#for1");
    console.log(firstbtn);

    function ValueControl() {

    }
    $(document).ready(function () {



        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset").length;

        setProgressBar(current);

        $(".next").click(function () {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({ 'opacity': opacity });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar")
                .css("width", percent + "%")
        }

        $(".submit").click(function () {
            return false;
        })

    });
</script>
}
