@model RegisterModel

@section css{
<link rel="stylesheet" href="~/css/loginaaa.css">
<style>
    h1{
        font-size: 20px!important;
    }
    input{
        margin-top: 20px!important;
    }
</style>
}

<div class="containerss" id="container">
    <div class="col-5">
        <div class="form-container sign-up-container">
        </div>
        <div class="form-container sign-in-container">
            <form action="~/Account/ForgotPassword" method="POST">
                <h1>Şifremi Unuttum</h1>
                <input type="email" placeholder="Email" name="Email" />
                <button type="submit">Gönder</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Hoş Geldiniz!</h1>
                    <p>Mail Adresinize gelen mesaja tıklayarak şifrenizi sıfırlayın</p>
                    <button class="ghost" id="signIn">Giriş Yap</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hoş Geldiniz!</h1>
                    <p >Mail Adresinize gelen mesaja tıklayarak şifrenizi sıfırlayın</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    const signUpButton = document.getElementById('signUp');
    var aaaa=document.querySelector(".containerss");
    console.log(aaaa);
    console.log(signUpButton)
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

  

    console.log(window.innerWidth);
    $(window).resize(function () {
        if(window.innerWidth<767)
        {
            console.log("asd0")
            var string=(window.innerWidth-10)+"px";
            console.log(string);
            container.style.width=string;
        }
    });
</script>
}