@section css
{
<link rel="stylesheet" href="/css/home.css">
}


<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">
                    <h6 data-aos="fade-down" data-aos-delay="300">sağlıklı bir yaşam tarzı oluşturmanın yeni yolu!</h6>

                    <h1 class="text-white" data-aos="fade-down" data-aos-delay="500">Gelin Beraber Vücudumuzu Sağlığa
                        Kovuşturalım
                    </h1>

                    <a href="#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Hadi
                        Başlayalım</a>

                    <a href="#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">Daha
                        Fazlası</a>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="feature" id="feature">
    <div class="container otherss">
        <div style="transform: scale(0.8);" class="row">

            <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                <h2 class="mb-3 text-white" data-aos="fade-up">Ertelemeden Hemen Şimdi Başlamak İster misin?</h2>

                <h6 class="mb-4 text-white" data-aos="fade-up">Gelin Üye Olun İlk Tanışma Dersini Ücretsiz Olarak
                    Yapalım
                </h6>

                <p data-aos="fade-up" data-aos-delay="200">Hemen şimdi aşağıdan üye olun biz sizi hemen arayalım</p>

                <a href="#" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300"
                    data-toggle="modal" data-target="#membershipForm">Ertelemeyin Gelin Başlayalım</a>
            </div>

            <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                <div class="about-working-hours">
                    <div>

                        <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Çalışma Saatleri</h2>

                        <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Pazartesi - Cuma</strong>

                        <p data-aos="fade-up" data-aos-delay="800">07:00 - 22:00 </p>

                        <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Cumartesi - Pazar</strong>

                        <p data-aos="fade-up" data-aos-delay="800">10:00 - 20:00</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>


<!-- ABOUT -->
<section class="about section" id="about">
    <div class="container">
        <div class="row">

            <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Hakkımızda</h2>

                <p data-aos="fade-up" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Vitae deleniti possimus alias adipisci, reiciendis et porro eligendi nam. Consectetur temporibus
                    debitis alias ut vel quae sunt delectus aut, error facere?</p>
            </div>

            <div class="ml-lg-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="700">
                <div class="team-thumb">
                    <img src="/img/222.jpeg" class="img-fluid" alt="Trainer">

                    <div class="team-info d-flex flex-column">

                        <h3>Pilates Eğitmeni</h3>
                    </div>
                </div>
            </div>

            <div class="mr-lg-auto mt-5 mt-lg-0 mt-md-0 col-lg-3 col-md-6 col-12" data-aos="fade-up"
                data-aos-delay="800">
                <div class="team-thumb">
                    <img src="/img/4.jpeg" class="img-fluid" alt="Trainer">

                    <div class="team-info d-flex flex-column">

                        <h3>Diyetisyen</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- CLASS -->
<section class="class section" id="class">
    <div class="container">
        <div class="row asdddd">

            <div class="col-lg-12 col-12 text-center mb-5">

                <h2 data-aos="fade-up" data-aos-delay="200">Hizmetlerimiz</h2>
            </div>

            <section  class="services">
                <div class="box-container">
                    <div class="box-area">
                        <div  data-aos="fade-up" data-aos-delay="300" class="single-box">
                            <div class="img-area"></div>
                            <div class="img-text">
                                <span class="header-text"><strong>Graphics Design</strong></span>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur animi nihil
                                    eligendi soluta impedit quibusdam, tempore rem exercitationem ex maiores saepe
                                    deleniti natus dolorem maxime, ipsam laudantium. Maxime, deleniti
                                    molestiae.
                                </p>
                            </div>
                        </div>
                        <div  data-aos="fade-up" data-aos-delay="300" class="single-box">
                            <div class="img-area"></div>
                            <div class="img-text">
                                <span class="header-text"><strong>Graphics Design</strong></span>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur animi nihil
                                    eligendi soluta impedit quibusdam, tempore rem exercitationem ex maiores saepe
                                    deleniti natus dolorem maxime, ipsam laudantium. Maxime, deleniti
                                    molestiae.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</section>

<section class="class section" id="class">
    <div class="container">
        <div class="row asdddd">

            <div class="col-lg-12 col-12 text-center mb-5">

                <h2 data-aos="fade-up" data-aos-delay="200">Blog</h2>
            </div>
            <section class="blog-container">
                <div class="blog-background">
                </div>
                <div class="blog-box-area-row">

                    <div data-aos="fade-up" data-aos-delay="200"  class="blog-single-box">
                        <div class="blog-img-area">
                        </div>
                        <div class="blog-img-border"></div>
                        <div class="blog-img-explain">
                            <div class="blog-img-explain-content">
                                <p>asddasasd</p>
                            </div>
                        </div>
                    </div>

                    <div data-aos="fade-up" data-aos-delay="200" class="blog-double-box">
                        <div class="blog-img-area">
                        </div>
                        <div class="blog-img-border"></div>
                        <div class="blog-img-explain">
                            <div class="blog-img-explain-content">
                                <p>asddasasd asdasdasda</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-box-area-row">

                    <div data-aos="fade-up" data-aos-delay="200" class="blog-double-box">
                        <div class="blog-img-area">
                        </div>
                        <div class="blog-img-border"></div>
                        <div class="blog-img-explain">
                            <div class="blog-img-explain-content">
                                <p>asddasasd asdasdasda</p>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" data-aos-delay="200" class="blog-single-box">
                        <div class="blog-img-area">
                        </div>
                        <div class="blog-img-border"></div>
                        <div class="blog-img-explain">
                            <div class="blog-img-explain-content">
                                <p>asddasasd</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="blog-box-area-row">
                    <div data-aos="fade-up" data-aos-delay="200" class="blog-single-box">
                        <div class="blog-img-area">
                        </div>
                        <div class="blog-img-border"></div>
                        <div class="blog-img-explain">
                            <div class="blog-img-explain-content">
                                <p>asddasasd</p>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" data-aos-delay="200" class="blog-double-box">
                        <div class="blog-img-area">
                        </div>
                        <div class="blog-img-border"></div>
                        <div class="blog-img-explain">
                            <div class="blog-img-explain-content">
                                <p>asddasasd asdasdasda</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<!-- SCHEDULE -->
<section class="schedule section" id="schedule">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Haftalık Randevu Takvimi</h2>
            </div>

            <div class="col-lg-12 py-5 col-md-12 col-12">
                <table class="table table-bordered table-responsive schedule-table" data-aos="fade-up"
                    data-aos-delay="300">

                    <thead class="thead-light">
                        <th><i class="fa fa-calendar"></i></th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td><small>7:00 am</small></td>
                            <td>
                                <strong>Cardio</strong>
                                <span>7:00 am - 9:00 am</span>
                            </td>
                            <td>
                                <strong>Power Fitness</strong>
                                <span>7:00 am - 9:00 am</span>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <strong>Yoga Section</strong>
                                <span>7:00 am - 9:00 am</span>
                            </td>
                        </tr>

                        <tr>
                            <td><small>9:00 am</small></td>
                            <td></td>
                            <td></td>
                            <td>
                                <strong>Boxing</strong>
                                <span>8:00 am - 9:00 am</span>
                            </td>
                            <td>
                                <strong>Areobic</strong>
                                <span>8:00 am - 9:00 am</span>
                            </td>
                            <td></td>
                            <td>
                                <strong>Cardio</strong>
                                <span>8:00 am - 9:00 am</span>
                            </td>
                        </tr>

                        <tr>
                            <td><small>11:00 am</small></td>
                            <td></td>
                            <td>
                                <strong>Boxing</strong>
                                <span>11:00 am - 2:00 pm</span>
                            </td>
                            <td>
                                <strong>Areobic</strong>
                                <span>11:30 am - 3:30 pm</span>
                            </td>
                            <td></td>
                            <td>
                                <strong>Body work</strong>
                                <span>11:50 am - 5:20 pm</span>
                            </td>
                        </tr>

                        <tr>
                            <td><small>2:00 pm</small></td>
                            <td>
                                <strong>Boxing</strong>
                                <span>2:00 pm - 4:00 pm</span>
                            </td>
                            <td>
                                <strong>Power lifting</strong>
                                <span>3:00 pm - 6:00 pm</span>
                            </td>
                            <td></td>
                            <td>
                                <strong>Cardio</strong>
                                <span>6:00 pm - 9:00 pm</span>
                            </td>
                            <td></td>
                            <td>
                                <strong>Crossfit</strong>
                                <span>5:00 pm - 7:00 pm</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>


<!-- CONTACT -->
<section class="contact section" id="contact">
    <div class="container">
        <div class="row">

            <div class="ml-auto col-lg-5 col-md-6 col-12">
                <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Soru Sormak İçin Buradan
                    İletişime
                    Geçebilirsiniz</h2>

                <form action="#" method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400"
                    role="form">
                    <input type="text" class="form-control" name="cf-name" placeholder="Name">

                    <input type="email" class="form-control" name="cf-email" placeholder="Email">

                    <textarea class="form-control" rows="5" name="cf-message" placeholder="Message"></textarea>

                    <button type="submit" class="form-control" id="submit-button" name="submit">Send
                        Message</button>
                </form>
            </div>

            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Biz Nerde Bulabilirsin ?</h2>

                <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> İstanbul
                    Kağıthane</p>
                <!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
                <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                    <iframe
                        src="https://maps.google.com/maps?q=Av.+Lúcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        width="1920" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="ml-auto col-lg-4 col-md-5">
                <p class="copyright-text">Copyright &copy; 2020 Gymso Fitness Co.

                    <br>Design: <a href="https://www.tooplate.com">Tooplate</a>
                </p>
            </div>

            <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                <p class="mr-4">
                    <i class="fa fa-envelope-o mr-1"></i>
                    <a href="#">hello@company.co</a>
                </p>

                <p><i class="fa fa-phone mr-1"></i> 010-020-0840</p>
            </div>

        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">

                <h2 class="modal-title" id="membershipFormLabel">Membership Form</h2>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form class="membership-form webform" role="form">
                    <input type="text" class="form-control" name="cf-name" placeholder="John Doe">

                    <input type="email" class="form-control" name="cf-email" placeholder="Johndoe@gmail.com">

                    <input type="tel" class="form-control" name="cf-phone" placeholder="123-456-7890"
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                    <textarea class="form-control" rows="3" name="cf-message"
                        placeholder="Additional Message"></textarea>

                    <button type="submit" class="form-control" id="submit-button" name="submit">Submit
                        Button</button>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="signup-agree">
                        <label class="custom-control-label text-small text-muted" for="signup-agree">I agree
                            to the <a href="#">Terms &amp;Conditions</a>
                        </label>
                    </div>
                </form>
            </div>

            <div class="modal-footer"></div>

        </div>
    </div>
</div>
@section Scripts
{
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/custom.js"></script>
}