@model IEnumerable<IdentityRole>

@section Scripts
{
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

}

<section style="margin-top: 20px;">

    <div class="container-fluid" style="padding: 50px;">
        <div class="row">
            <div class="row  justify-content-around  mt-2 p-5">
                <div class="col-md-12">
                    <h1>Role List</h1>
                    <hr>
                    <div class="table-responsive-lg">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th style="width: 100px;">ID</th>
                                    <th>Role name</th>
                                    <th style="width: 100px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>
                                                <a href="/RoleAndUser/roleEdit/@item.Id"
                                            class="btn btn-primary btn-sm me-1">Edit</a>
                                                <form action="/admin/role/delete" method="POST" style="display: inline;">
                                                    <input type="hidden" name="RoleId" value="@item.Id">
                                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <div class="alert alert-warning">
                                        <h3>No Products</h3>
                                    </div>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
</section>
